* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  .main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title::before,
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::before {
    left: -30px;
  }
  .main-title::after {
    right: -30px;
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
.tracks {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
  }
  .tracks .container {
    margin-left: 370px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  /* start html */
  .tracks .HTML {
    text-align: center;
    border: 1px solid #ccc;
  }
  .tracks .HTML h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .tracks .HTML h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .tracks .HTML p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .tracks .HTML a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
  }
  .tracks .HTML h2::after {
    background-color: #f44036;
  }
  .tracks .HTML a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .tracks .HTML:hover a {
    background-position: left bottom;
    color: white;
  }
    /* end html */
      /* start css */
  .tracks .CSS {
    text-align: center;
    border: 1px solid #ccc;
  }
  .tracks .CSS h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .tracks .CSS h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .tracks .CSS p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .tracks .CSS a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
  }
  .tracks .CSS h2::after {
    background-color: #f44036;
  }
  .tracks .CSS a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .tracks .CSS:hover a {
    background-position: left bottom;
    color: white;
  }
    /* end css */
      /* start javascript */
  .tracks .Java {
    text-align: center;
    border: 1px solid #ccc;
  }
  .tracks .Java h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .tracks .Java h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .tracks .Java p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .tracks .Java a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
  }
  .tracks .Java h2::after {
    background-color: #f44036;
  }
  .tracks .Java a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .tracks .Java:hover a {
    background-position: left bottom;
    color: white;
  }
  /* end javascript */
  /* start c++*/
  .tracks .c {
    text-align: center;
    border: 1px solid #ccc;
  }
  .tracks .c h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .tracks .c h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .tracks .c p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .tracks .c a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
  }
  .tracks .c h2::after {
    background-color: #f44036;
  }
  .tracks .c a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .tracks .c:hover a {
    background-position: left bottom;
    color: white;
  }
  /* end c++*/
/* start flutter */
.tracks .flutter {
  text-align: center;
  border: 1px solid #ccc;
}
.tracks .flutter h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.tracks .flutter h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.tracks .flutter p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.tracks .flutter a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.tracks .flutter h2::after {
  background-color: #f44036;
}
.tracks .flutter a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.tracks .flutter:hover a {
  background-position: left bottom;
  color: white;
}
/* end flutter */
/* start buttom */
.buttom {
  margin-bottom: 50px;
  margin-left: 865px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.buttom button {
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.buttom button:hover {
  background: rgb(155, 235, 162);
}
.buttom button:nth-child(2) {
  background: #58c7ff;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.buttom button:nth-child(2):hover {
  background: #3c4d6d;
}
/* end buttom */